body {
    background: linear-gradient(90deg, #70ABAF, #99E1D9, #F0F7F4);
    font-family: Aleo;
    color: #32292F;
}

div {
    background-color: #F0F7F4;
    padding: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: #32292F;
    box-shadow: 0 5px 5px #705D56;
    margin: 25px;
}

h4 {
    margin-bottom: 0;
}


.banner {
    padding-bottom: 0px;
}

.handwriting {
    font-family: Lobster;
    font-size: 1.25em;
}

#about-me-profiler {
    height: 200px;
    border-radius: 50%;
    float: right;
}

h1 a {
    text-decoration: none;
    color: inherit;
}

div.banner h2 {
    float: left;
    margin-top: 0;
}

div.banner a img {
    width: 50px;
    float: right;
    border-style: hidden;
    border-radius: 50%;
}

.tech-blog-images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#mbp-pic {
    width: 250px;
}

#inspect-pic {
    width: 300px;
}

nav {
    text-align: right;
}

nav ul {
    margin: 1em 0 0 1em;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0.2em 0.2em 0em 0.2em;
    background-color: #99E1D9;
    text-align: center;
    border-style: solid;
    border-width: 2.5px;
    border-color: #32292F;
    border-bottom: 0;
    padding: 2.5px;
}

nav ul li a {
    text-decoration: none;
    display: block;
    color: #32292F;
}

nav ul li a span {
    font-weight: bold;
    text-decoration: underline;
}

nav ul li:hover {
    background-color: peru;
}

nav ul li ul {
    margin: 0;
    padding: 0;
}

nav ul li ul li {
    display: none;
    text-align: left;
    margin: 0;
    border-style: solid;
    border-width: 2.5px;
    border-color: #32292F;
}

ul li:hover ul {
    position: absolute;
    background-color: #32292F;
    box-shadow: 0 5px 5px #705D56;
    opacity: 0.95;
}


ul li:hover ul li {
    display: block;
}
